lockfile.lck
OldVersions
*.gcode
*.bak
*.kicad_pcb-bak
/pcb/**/*.raw
/pcb/**/*.log
*.pyc
/movies
**/Release/
log.txt
**/_autosave*.kicad_pcb
.ino.cpp
/pcb/**/_autosave-*.pro
/soft/.metadata/**/*.log
/soft/.metadata/**/*.lock
/soft/RemoteSystemsTempFiles
