lockfile.lck
OldVersions
*.gcode
*.bak
*.kicad_pcb-bak
/pcb/**/*.raw
/pcb/**/*.log
*.pyc
/movies
**/Release/
log.txt
**/_autosave*.kicad_pcb
.ino.cpp
/pcb/**/_autosave-*.pro
/soft/.metadata/**/*.log
/soft/.metadata/**/*.lock
/soft/RemoteSystemsTempFiles
/soft/drOctopusArduino
/soft/.metadata
/soft/drOctopusStm32/u8glib_arm_v1.18.1/lpc1114
/soft/drOctopusStm32/u8glib_arm_v1.18.1/lpc1226
/old
